.col-md-6 {
  padding-bottom: 2pc;
}
.ant-tinput {
  height: 3pc;
  border: 1px solid #c4cdd6;
}

/* .ant-tinput placeholder {
  color: #8090a2;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 16px;
  line-height: 14px;
  margin-bottom: 0;
  transition: all 0.2s ease-out;
  z-index: 5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;
} */
