
.contact-save{
    padding: 20px;
}
.contact{
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

.contact-title {
    color: rgb(3, 3, 85);
}
.contact-details{
    margin-top: 50px;
}
