.home {
  display: flex;
}

.home-left {
  background-color: white;
  flex: 2;
}

.home-right {
  flex: 7;
}

.home-save {
  padding: 20px;
}

.cotainner {
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
}

.title {
  color: rgb(3, 3, 85);
}

.margin-body {
  margin-top: 30px;
}
.title-description {
  font-size: 13px;
}
