.home {
  display: flex;
}

.home-left {
  background-color: white;
  flex: 2;
}

.home-right {
  flex: 7;
}

.home-save {
  padding: 20px;
}

.cotainner {
  padding-top: 0px;
  padding-left: 150px;
  padding-right: 150px;
}

.title {
  color: #305F9D;
}

.margin-body {
  margin-top: 30px;
}
.title-description {
  font-size: 13px;
}

.form-textbox{
  width: 100% !important;
}
.form-textbox .rdt{
  width: 100% !important;
}